<div class="row">
  <h1 class="haaby-mission-text py-5">- Haaby Real Estate's Mission -</h1>
  <p class="mission-text">Real estate professionals are in the service industry; no doubt about
    it. At Haaby Real Estate, we strive to provide the fastest and highest
    level of service possible. We’re good listeners. We want what you want;
    really! Our goal is to help you reach your goal in real estate. Whether
    it’s finding your first home, upsizing, downsizing or looking to sell;
    we want to be part of that process.
  </p>
  <p class="mission-text pb-5">So whether you’re looking to buy or sell in Fargo, Moorhead, West
    Fargo or in any of the surrounding areas, let Steve be your Realtor
    and let Haaby Real Estate be the company that you trust to guide you
    through the process.
  </p>
</div>
<div class="row about-steve py-5">
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <img class="about-us-steve-image" src="steve.jpg">
  </div>
  <div class="col-md-5">
    <h1 class="text-center pb-3">- About Steve -</h1>
    <p class="about-steve-text">Steve is the Broker for Haaby Real Estate.
      He and his wife, Kellie, live in South Fargo with their daughter,
      Savannah, and their son, Lincoln. Kellie is an Elementary School
      Teacher for West Fargo Public Schools. They are active in the Salem
      Evangelical Free Church. They love the Fargo-Moorhead area and enjoy
      spending time with family and friends in their spare time.
    </p>
  </div>
  <div class="col-md-2"></div>
</div>
<!-- <div class="row about-josie  dispay-flex py-5">
  <div class="col-md-2"></div>
  <div class="col-md-5">
    <h1 class="text-center pb-3">- About Josie -</h1>
    <p class="about-josie-text">Josie grew up on her family’s farm and
      cattle ranch in Velva, ND where she learned the value of hard work.
      She later moved to Roseau, MN with her mother and graduated from
      Roseau High School in 2001.
    </p>
    <p class="about-josie-text">Josie attended the Non-destructive Testing program at Ridgewater
      College in Hutchinson, MN. She worked as a professional weld inspector
      for 10 years in the Nuclear Power Industry. With that type of work,
      came a lot of traveling and moving. She wanted to put down some roots
      and be closer to family so she decided to move back to Roseau in 2008,
      where she currently lives with her two children.
    </p>
    <p class="about-josie-text">Josie has always had a passion for real estate. Through the experience
      of personally buying and selling a home, she’s learned the importance
      of customer service and communication. She always strives to provide
      the highest level of professionalism possible. With Josie’s enthusiasm
      and fun personality, your real estate experience is bound to be a
      positive and memorable one.
    </p>
  </div>
  <div class="col-md-3">
    <span class="helper"></span><img class="about-us-josie-image" src="josie.jpg">
  </div>
</div> -->
<div class="row about-chris  dispay-flex py-5">
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <span class="helper"></span><img class="about-us-chris-image" src="chris.jpg">
  </div>
  <div class="col-md-5">
    <h1 class="text-center pb-3">- About Chris -</h1>
    <p class="about-chris-text">Chris was born and raised in Fergus Falls, MN.
      He attended high school there and was Kicker for Football team, Captain
      of the Soccer team and Captain of the Tennis team. Chris enjoys music
      and played trombone in Band, Jazz Band, Marching Band and Pep Band.
      He also took part in Math League, competed in Junior Engineering
      Technical Society and the tri-college math competition in addition
      to being a member of the National Honors Society.
    </p>
    <p class="about-chris-text">After graduating high school, Chris attended North Dakota State
      University, majoring in Computer Science. He was involved with Bison
      Robotics at North Dakota State University and joined the Association
      for Computing Machinery and the National Cybersecurity Student
      Association. Through these affiliations, he enjoyed participating
      in programming and cybersecurity competitions; notably winning the
      Digi-Key Electronics programming competition.
    </p>
    <p class="about-chris-text">Chris enjoys running, gaming and coding in his spare time.
      His tech-savvy nature will be a welcomed attribute in the increasingly
      technology-centered real estate industry. Chris will be working
      in the Fargo-Moorhead area.
    </p>
  </div>
</div>
