<% content_for :head do %>
  <% @title = 'Chris Bernard' %>
  <meta name="title" content="" />
  <meta name ="description" content ="Chris Bernard is a Realtor with Haaby Real Estate" />
<% end %>
<div class="row about-chris  dispay-flex py-5">
  <div class="col-md-4">
    <span class="helper"></span><img class="about-us-chris-image" src="Chris Bernard 5x7.jpg">
  </div>
  <div class="col-md-8">
    <h1 class="text-center pb-3">- About Chris -</h1>
    <p class="about-chris-text">Chris was born and raised in Fergus Falls, MN.
      He attended high school there and was Kicker for Football team, Captain
      of the Soccer team and Captain of the Tennis team. Chris enjoys music
      and played trombone in Band, Jazz Band, Marching Band and Pep Band.
      He also took part in Math League, competed in Junior Engineering
      Technical Society and the tri-college math competition in addition
      to being a member of the National Honors Society.
    </p>
    <p class="about-chris-text">After graduating high school, Chris attended North Dakota State
      University, majoring in Computer Science. He was involved with Bison
      Robotics at North Dakota State University and joined the Association
      for Computing Machinery and the National Cybersecurity Student
      Association. Through these affiliations, he enjoyed participating
      in programming and cybersecurity competitions; notably winning the
      Digi-Key Electronics programming competition.
    </p>
    <p class="about-chris-text">Chris enjoys running, gaming and coding in his spare time.
      His tech-savvy nature will be a welcomed attribute in the increasingly
      technology-centered real estate industry. Chris will be working
      in the Fargo-Moorhead area.
    </p>
  </div>
</div>
