<% content_for :head do %>
  <% @title = 'Contact Us' %>
  <meta name="title" content="Haaby Real Estate – Contact Us" />
  <meta name ="description" content ="Contact Haaby Real Estate to get started on your home search or home sale today!" />
<% end %>
<div class="row py-3 mt-5 text-center">
  <p class="contus-page-text">
    Follow Haaby Real Estate on social media for the newest listings, real
    estate tips and the latest promotions. Complete the short form below with
    a question and we’ll contact you.
  </p>
</div>
