<% content_for :head do %>
  <% @title = 'Fargo Home Search' %>
  <meta name="title" content="Haaby Real Estate – Search all Fargo and West Fargo Homes for Sale" />
  <meta name ="description" content ="Search all homes for sale in Fargo, West Fargo, Moorhead, Horace, Mapleton, Kindred, Glyndon, Dilworth, Harwood, Reile’s Acres, Frontier, Argusville, Oxbow and Hickson" />
<% end %>
<div class="row py-5">
  <h1 class="page-text">Fargo Property Search</h1>
</div>
<div class="row">
  <iframe src='https://link.flexmls.com/12blkjipgtth,4' frameborder=0 class="customframe"></iframe>
</div>
