<% content_for :head do %>
  <% @title = 'Fargo Listings' %>
  <meta name="title" content="Haaby Real Estate – Fargo and West Fargo Area Listings" />
  <meta name ="description" content ="View listings offered by Haaby Real Estate in Fargo, West Fargo, Moorhead, Horace, Mapleton, Kindred, Glyndon, Dilworth, Harwood, Reile’s Acres, Frontier, Argusville, Oxbow and Hickson" />
<% end %>
<div class="row py-5">
  <h1 class="page-text">Fargo Listings</h1>
</div>
<div class="row">
  <iframe src="https://link.flexmls.com/1lipjphkqu8p,4" frameborder="0" class="customframe"></iframe>
</div>
​
