<% content_for :head do %>
  <% @title = 'About Us' %>
  <meta name="title" content="Haaby Real Estate – Mission" />
  <meta name ="description" content ="The mission of Haaby Real Estate." />
<% end %>
<div class="row">
  <h1 class="haaby-mission-text py-5">- Haaby Real Estate's Mission -</h1>
  <p class="mission-text">Real estate professionals are in the service industry; no doubt about it. At Haaby Real Estate, we strive to provide the fastest and highest level of service possible. We’re good listeners. We want what you want; really! Our goal is to help you reach your goal in real estate. Whether it’s finding your first home, upsizing, downsizing or looking to sell; we want to be part of that process. So whether you’re looking to buy or sell in Fargo, Moorhead, West Fargo or in the Roseau area, let Haaby Real Estate be the company that you trust to guide you through the process.
  </p>
</div>
<!-- <div class="row">
  <div class="col-4">
    <a href="about-steve" class="page-text"><h1>About Steve</h1></a>
  </div>
  <div class="col-4">
    <a href="about-chris" class="page-text"><h1>About Chris</h1></a>
  </div>
  <div class="col-4">
    <a href="about-josie" class="page-text"><h1>About Josie</h1></a>
  </div>
</div> -->
