<% content_for :head do %>
  <% @title = 'Josie Wojahn' %>
  <meta name="title" content="Haaby Real Estate – About Josie Wojahn" />
  <meta name ="description" content ="Josie Wojahn is a Realtor with Haaby Real Estate" />
<% end %>
<div class="row about-josie  dispay-flex py-5">
  <div class="col-md-2"></div>
  <div class="col-md-5">
    <h1 class="text-center pb-3">- About Josie -</h1>
    <p class="about-josie-text">Josie grew up on her family’s farm and
      cattle ranch in Velva, ND where she learned the value of hard work.
      She later moved to Roseau, MN with her mother and graduated from
      Roseau High School in 2001.
    </p>
    <p class="about-josie-text">Josie attended the Non-destructive Testing program at Ridgewater
      College in Hutchinson, MN. She worked as a professional weld inspector
      for 10 years in the Nuclear Power Industry. With that type of work,
      came a lot of traveling and moving. She wanted to put down some roots
      and be closer to family so she decided to move back to Roseau in 2008,
      where she currently lives with her two children.
    </p>
    <p class="about-josie-text">Josie has always had a passion for real estate. Through the experience
      of personally buying and selling a home, she’s learned the importance
      of customer service and communication. She always strives to provide
      the highest level of professionalism possible. With Josie’s enthusiasm
      and fun personality, your real estate experience is bound to be a
      positive and memorable one.
    </p>
  </div>
  <div class="col-md-3">
    <span class="helper"></span><img class="about-us-josie-image" src="Josie Wojahn 5x7.jpg">
  </div>
</div>
