<% content_for :head do %>
  <% @title = 'Referral Partners' %>
  <meta name="title" content="Haaby Real Estate - Referral Partners" />
  <meta name ="description" content ="Haaby Real Estate is proud to work with great referral partners in all aspects of the real estate industry. We have a great working relationship with all of these fine companies." />
<% end %>
<div class="row">
  <div class="col-md-2 order-md-1"></div>
  <div class="col-md-4 order-md-2">
    <a href="https://www.4CornersMNND.weebly.com" target="_blank"><img class="refimg refimglim" src="corners4.jpg"></a>
  </div>
  <div class="col-md-4 vert-text order-md-1 ref-text">
    <div class="vertcent"><span>Bill Yates</span></div>
    <div><span>4 Corners Home Inspections</span></div>
    <div><span>701.799.5503</span></div>
    <div><span>BillYates79@gmail.com</span></div>
  </div>
  <div class="col-md-2 order-md-4"></div>
</div>
<hr />
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <img class="refimg" src="zachjohnson.jpg">
  </div>
  <div class="col-md-4 ref-text">
    <div class="vertcent refpad"><span>Zach Johnson</span></div>
    <div class="refpad"><span>American Family Insurance</span></div>
    <div class="refpad"><span>218.463.1065</span></div>
    <div class="refpad"><span>Zjohnson@AmFam.com</span></div>
  </div>
  <div class="col-md-2"></div>
</div>
