<% content_for :head do %>
  <% @title = 'Roseau Home Search' %>
  <meta name="title" content="Haaby Real Estate – Search all Roseau Area Homes for Sale" />
  <meta name ="description" content ="Search all homes for sale in Roseau, Badger, Greenbush, Middle River, Strathcona, Warroad, Salol, Malung, Wannaska, Strathcona, Pinecreek, Skim, Pencer, Fox" />
<% end %>

<div class="row py-5">
  <h1 class="page-text">Roseau Property Search</h1>
</div>
<div class="row">
  <iframe src='https://link.flexmls.com/1g2x8smnhsae,4' frameborder=0 class="customframe"></iframe>
</div>
