<% content_for :head do %>
  <% @title = 'Roseau Listings' %>
  <meta name="title" content="Haaby Real Estate – Roseau Area Listings" />
  <meta name ="description" content ="View listings offered by Haaby Real Estate in Roseau, Badger, Greenbush, Middle River, Strathcona, Warroad, Salol, Malung, Wannaska, Strathcona, Pinecreek, Skim, Pencer, Fox" />
<% end %>
<div class="row py-5">
  <h1 class="page-text">Roseau Listings</h1>
</div>
<div class="row">
  <iframe src='https://link.flexmls.com/1iva0mc1nu0i,4' frameborder=0 class="customframe"></iframe>
</div>
